.asos-links{
    background: #f4f7fd;
    width:100%;
}
.carusel3_1{
    height: 140px;
    display: flex;
    width: 1300px;
    background: white;
    border-radius:25px;
    overflow: hidden;
    margin-bottom: 30px;
    img{
        width: 120px;
        margin: 10px 70px 10px 70px;
        
    }
}
.brands{
    display: flex;
    position: relative;
    animation-name: brand;
    animation-duration: 30s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.carusel3_2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    overflow: hidden;
    width: 100%;
    background: #008DFF;
    border-radius: 20px;
    margin-bottom: 30px;
}
.appimg{
    margin-top: 250px;
}
.applink{
    img{
        width: 150px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #fff;
        margin: 30px auto;
    }
}
.app-link{
    display: flex;
    img{
        margin: auto 10px;
    }
}

@keyframes brand {
    0%{
        right: 0px;
    }
    10%{
        right: 260px;
    }
    20%{
        right: 520px;
    }
    30%{
        right: 780px;
    }
    40%{
        right: 1040px;
    }
    50%{
        right: 1300px;
    }
    60%{
        right: 1040px;
    }
    70%{
        right: 780px;
    }
    80%{
        right: 520px;
    }
    90%{
        right: 260px;
    }
    100%{
        right: 0px;
    }
}